

@charset "utf-8";
/* CSS Document */
html, body {
	/*padding-top: 10px;*/
	width: 100%;
	height: 100%;
}

#a1 {
	text-decoration: underline;
	float: right;
	padding-top: 7%;
	padding-right: 10%;

}
#b1{
	width: 100%;
	height: 150px;
	background-color: #33aba0;
	/*margin-left: 109px;*/
}
#b2{
	color: #FFFFFF;
	font-size: 22px;
	padding-top: 4%;
	padding-left: 11%;
}

.a5 {
    width: 210px;
    height:45px;
    float: left;
    margin-top: 20%;
    margin-left: 10%;
    opacity:0.9;
    font-size: 18px;
    border-radius: 50px;
    background-color: #98d6be;
}

.a3 {
	width: 210px;
	height:45px;
	float: left;
	margin-top: 20%;
	margin-left: 10%;
	opacity:0.9;
	font-size: 18px;
	border-radius: 50px;
	background-color: #98d6be;
}
.a2 {
	width: 210px;
	height:45px;
	float: left;
	margin-top: 20%;
	margin-left: 18%;
	opacity:0.9;
	font-size: 18px;
	border-radius: 50px;
	background-color: #98d6be;
}
/*.a2:hover{*/
/*/*opacity:1;*/
/*}*/
/*.a3:hover{*/
/*/*opacity:1;*/
/*}*/

.z1 {
	margin-top: -35%;
	/*position:absolute;*/
}
#b3{
	float: left;
	width: 5%;
	height: 40%;
	margin-left: 5%;
	margin-top: 3.5%;
	border-radius: 5%;

}
#bground{
	width: 100%;
	height: 505px;
}
.text{
	/*float: top;*/
	font-size: 35px;
	margin-top: 20px;
	margin-left: 500px;
	color: #5bb8e2;

}
