html, body {
    margin: 0;
    padding: 10px;
    width: 90%;
    height: 100%;
    magin:0 auto;
}

.top {
    height: 40px;	
}

.question {
    height: 80%;
    border-top:1px solid #C7C7C7;
    border-bottom:1px solid #C7C7C7;
    overflow-y:auto;padding:10px

}

.bottom {
    padding: 10;
    height: 40px;
}

.test {
border-color: #878787; 
border-style: solid; 
border-top-width: 0px;
 border-right-width: 0px; 
border-bottom-width: 1px;
 border-left-width: 0px;
}